
.searchFiltersSection{
    position: absolute;
    width: inherit !important;
    /* margin-top: -13px; */
}
.noRadius{
    border-radius: unset;
    
}
.slds-input{
    border-radius: unset !important;
}