.THIS {
    /*overflow: hidden !important;*/
    
}
.THIS .searchResultsLayout{
    margin-left: -12px !important;
    height: 100% !important;
      
}
.THIS .searchResults{
        width: 90% !important;
}
.THIS .resultDashboard{
    margin-top:12px;
}
.THIS .customContainer{
    height: 91%;
    margin-top : -12px;
}

.THIS .customContainer{
    padding: 5px; 
}
.THIS .containerCard{
    min-height: 500px;
}